body {
  padding: 10px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.list-item-container {
  padding: 1vw;
  max-width: 40vw;
}

.list-item {
  padding: 1vw;
  border-bottom: black;
  border-bottom-color: black;
  border-bottom: 1px;
  max-width: 100%;
  border-bottom-style: solid;
}

.user-detail-image {
  width: 50%;
  height: auto;
  display: block;
  margin-bottom: 1.5vw;
}

.user-detail-info {
  margin: 1.5vw;
  display: inline-block;
  width: fit-content;
  vertical-align: top;
  padding: 1vw;
  border: black;
  border-style: solid;
}

.user-detail-events {
  padding: 1vw;
  width: fit-content;
  display: inline-block;
  border: 3px;
  border-style: solid;
  margin: 1.5vw;
  vertical-align: top;
}

.user-detail-events-header {
  border-bottom-style: solid;
}

.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: lightslategray;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}

.sidebar a.active {
  background-color: black;
  color: white;
}

/* Links on mouse-over */
.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}

div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}

a {
  color: #00b7ff;
}

.h2 {
  padding: 0.5vw;
}
